<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
           
  <title>Epic Game Button</title>
</head>
<body class= 'center-align'>

    <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <h1> <span id="counter"></span>  Other people were curious too!</h1>
      <button id="click-counter"class="btn waves-effect waves-light" type="submit" name="action">You know you want to!
        <i class="material-icons right">insert_emoticon</i>
      </button>
            
    <br>


  <div class="card-action">   
     <button id="reset" class="btn waves-effect waves-light" type="submit" name="action">Reset
        <i class="material-icons right">autorenew</i>
      </button>
        </div>
            </div>
          </div>
        </div>
      </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    
    socket.on("greeting", function(data) {
      console.log(data);
    })

    socket.on("updateCounter", function(data) {
      console.log(data.counter)
      $("#counter").text(data.counter);
    })

    socket.on("reset", function(data) {
      $("#counter").text(data.counter);
    })

    $("#click-counter").click(function(event) {
      event.preventDefault();
      socket.emit("buttonClicked", {counter: 1})
    })

    $("#reset").click(function(event) {
      event.preventDefault();
      socket.emit("reset", {counter: null});
    })
  </script>
</body>
</html>