<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Ninja</title>
</head>
<body>
    <h1>New Ninjas</h1>
        <form action="/ninjas" method="POST">
        <p>
            <label for="first_name">First Name:</label>
            <input type="text" name='first_name'>
        </p>
        <p>
            <label for="last_name">Last Name:</label>
            <input type="text" name='last_name'>
        </p>
        <input type="submit" value="Create Ninja">
        
        </form>
</body>
</html>