*{
margin: 0px;
padding: 0px;
}

.wrapper{
width: 970px;
}

span.blue{
color: #2e6ca1;
}


.wrapper h1{
display:inline-block;
margin-top:12px;
margin-left:80px;
margin-top:25px;
}

.space{
margin-bottom:10px;
}

span.red{
    color:red;
}

.topbanner{
margin-bottom: 10px;
font-size: 30px;
color: white;
margin-top: 5px;
background:radial-gradient(#6f98bb,#2d6ca1);
padding: 10px 0px 10px 20px;
}


#site_header{
width:800px;
padding: 5px;
display:inline-block;
}

.logo{
position: absolute;
height:80px;
width:80px;
}

#ad_bar{
height:600px;
width:200px;
background-color:red;
}

#side_info{
width: 196px;
height:463px;
margin-top: 15px;
padding-left:5px;
display: inline-block;
}


.buttons{
margin: 20px 0px 10px 0px;
height: 70px;
width: 196px;
}



.buttons h3{

    background:linear-gradient(#6f98bb,#2d6ca1);
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
}

.buttons h3.button2 {
    margin-top:10px;
    background:linear-gradient(#da975b,#e06a01);
}

img.ad_size{
height: 300px ;
width: 196px;

}
img.ad_img{
height: 140px;
width: 100px;
position:relative;
}

.advertisement{
background-image: url("images/ad_background.png" );
height: 330px; 
text-align: center;
padding-top:20px;
}

hr{
margin: 25px 0px 25px 0px;
border: 1px solid black;
}

.ad_button{
margin: 10px 0px 0px 13px;
color:white;
background-color: teal;
width: 160px;
border-radius: 5px;
padding: 5px;

}

.ad_text{
padding-top:10px;
font-size: 25px;
color:white;
}

.maincontent{
display:inline-block;
vertical-align: top;
margin-left:20px;
}

.fullbar{
width: 743px;
}

.homelogo{
display:inline-block;
width: 20px;
height:20px;
}

.maincontent h3{
display:inline-block;
vertical-align: center;
}

.phonelogo{
margin-left: 440px;
height: 50px;
width: 50px;
display:inline-block;
}

.hours{
display:block;
}

span.bold{
font-weight:bold; 
}

.phonenumber{

color: #2e6ca1;
font-size: 20px;
display: block;
}

.rightinfo{
    display:inline-block;
    vertical-align: top;
    margin-left:5px;
    text-align: center;
}

.bodytext{
display:inline-block;
outline:2px solid black;
width:200px;
}

.title{
 margin-bottom:10px;
}
.maincontent ul{
margin-left: 30px;
}
.maincontent ol{
    margin-left: 30px;
    width: 600px;
    }

.maincontent a{

text-decoration: none;
color:  #2e6ca1;

}
.mainpicture{
margin:20px;
margin-left:80px;
height: 150px;
width: 460px;
}

.htmlpic{
width: 140px;
height: 120px;
display: inline-block;
}

div.bottomcontent{
width: 570px;
padding: 10px 15px 20px 20px;
border: 6px solid #2e6ca1;
border-bottom:0;
margin-top:20px;
}

.bottomtext{
display:inline-block;
width: 400px;
margin-left:15px;
}

.bottomcontent a{

text-decoration: none;
color:  #2e6ca1;

}