*{
margin: 0px;
padding: 0px;
outline: 2px solid black;
}

#wrapper{
width: 970px;

}

span{
color:blue;
}


#wrapper h1{
display:inline-block;
margin-top:12px;
margin-left:80px;
margin-top:25px;

}

#wrapper h2{
color: white;
margin-top: 5px;
background-color: blue;
padding: 10px 0px 0px 20px;
}

#site_header{
width:800px;
background-color:blue;
padding: 5px;
display:inline-block;
}

.logo{
position: absolute;
height:80px;
width:80px;
}

#ad_bar{
height:600px;
width:200px;
background-color:red;
}