<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
.box{
    width: 400px;
    height: 400px;
    background-color:aqua;
    display:inline-block;
    margin-left:80px;
}
.wrapper{
    padding:200px;
    text-align: center;
}
</style>


<body>
<div class="wrapper">
    <h1> WELCOME! </h1>
{% for i in range(num_times)%}
<div class="box" style = "background-color:{{box_color}}"></div>
{%endfor%}

</div>
</body>
</html>