<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
           

  <title>Color War</title>
</head>
<body>
  
  <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content red-text">
            <h4>Color War!!!</h4>
          </div>
          <div class="card-action">
              <div class="center-align">
              <button id="btn-green" class="btn waves-effect waves-green green" >green</button>
              <button id="btn-blue" class="btn waves-effect waves-purple blue" >blue</button>
              <button id="btn-pink" class="btn waves-effect waves-red pink">pink</button>
                </div>
          </div>
        </div>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    
    socket.on("new user", function(data) {
      $(".card").css("background-color", data.color);
    })

    socket.on("color", function(data) {
      $(".card").css("background-color", data.color);
    });
    
    $(".btn").click(function(event) {
      event.preventDefault();
      var color = $(this).text().toLowerCase();
      socket.emit("color", {color: color});
    });
  </script>
</body>
</html>